.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  min-width: 200px;
  height: var(--button-height);
  color: var(--color-light);
  background-color: var(--color-dark);
  border: none;
  border-radius: var(--border-radius-xxxs);

  @include hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
