.tags {
  &--transparent {
    .tags__list {
      column-gap: 24px;
    }

    .tags__item {
      padding: 0;
      background-color: transparent;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: fluid(16, 10);
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px 16px;
    background-color: var(--color-dark-5);
    border-radius: var(--border-radius);
    color: var(--color-dark);
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--color-dark-60);
  }
}
