.section {
  display: grid;
  row-gap: var(--section-padding-y);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }

    &--with-action {
      @include mobile {
        display: contents;
      }
    }

    &--vertical {
      flex-direction: column;
      row-gap: 24px;

      & > .section__description {
        text-align: center;
      }
    }
  }

  &__title {
    max-width: 750px;

    @include tablet-s {
      text-align: center;
    }
  }

  &__description {
    max-width: 650px;

    @include mobile {
      text-align: center;
    }
  }

  &__link {
    @include mobile {
      order: 1;
    }
  }
}
