.section {
  display: grid;
  row-gap: var(--section-padding-y);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    &:has(.section__link) &__header {
      @include mobile {
        display: contents;
      }
    }
  }

  &__link {
    @include mobile {
      order: 1;
    }
  }
}
