.section {
  display: grid;
  row-gap: var(--section-padding-y);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    &--with-action {
      @include mobile {
        display: contents;
      }
    }

    &--vertical {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  &__description {
    max-width: 700px;
    text-align: center;
  }

  &__link {
    @include mobile {
      order: 1;
    }
  }
}
