:root {
  --color-light: #fff;

  --color-dark: #000;
  --color-dark-5: rgb(0 0 0 / 0.05);
  --color-dark-10: rgb(0 0 0 / 0.1);
  --color-dark-40: rgb(0 0 0 / 0.4);
  --color-dark-60: rgb(0 0 0 / 0.6);

  --color-cyan: #e7fafe;
  --color-cyan-alt: #e7f9fd;
  --color-accent: #ff7426;

  --gradient: linear-gradient(180deg, rgb(231 249 253 / 0) 0%, var(--color-cyan-alt) 100%);

  --shadow: 10px 20px 40px rgb(41 64 70 / 0.1);

  --border: 1px solid var(--color-dark-10);

  --border-radius-l: 60px;
  --border-radius-m: 50px;
  --border-radius: 30px;
  --border-radius-xs: 24px;
  --border-radius-xxs: 20px;
  --border-radius-xxxs: 16px;

  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --button-height: 60px;

  --transition-duration: 0.2s;

  --layer-mobile-menu: 100;
}
