.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: fluid(40, 20);
    color: var(--color-dark);
  }

  &__item {
    display: flex;
  }

  &__link {
    @include square(22px);

    position: relative;

    &::after {
      @include abs-center;
      @include square(48px);

      content: '';
    }
  }
}
