.footer {
  padding-block: var(--section-padding-y) fluid(48, 24);

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: fluid(48, 24);
    padding-bottom: fluid(48, 24);
    border-bottom: var(--border);

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include mobile {
      align-items: center;
      text-align: center;
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: fluid(60, 20);
    }

    &-link {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: var(--color-dark);

      &::after {
        @include abs-center;

        content: '';
        width: calc(100% + 24px);
        height: 48px;
      }
    }
  }

  &__extra {
    position: relative;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--color-dark-60);

    @include mobile-above {
      @include abs-center;
    }

    &-link {
      color: var(--color-accent);

      @include hover {
        color: inherit;
      }
    }
  }

  &__soc1als {
    @include mobile-above {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
    }
  }
}
